name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Set up Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


      - name: Maven Build + Test
        run: mvn clean verify sonar:sonar

      - name: Build Java Docker Image
        run: docker build -t java-service .

      - name: Python Test
        run: |
          cd python-app
          pip install -r requirements.txt pytest
          pytest

      - name: Build Python Docker Image
        run: docker build -t python-service -f python-app/Dockerfile ./python-app


      - name: Docker Build Image + CI Success
        run: |
          echo "✅ SonarCloud Quality Gate Passed!"
          echo "✅ All builds/tests OK (Java + Python + Node)"
          echo "✅ Docker images:"
          docker images | grep -E 'java|python|nodejs'
          echo "✅ Pipeline Succeeded!"