name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test-sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build, Test and Sonar Analysis
        run: mvn clean verify sonar:sonar \
          -Dsonar.projectKey=HamzaAfif_Basic_cicd \
          -Dsonar.organization=hamzaafif \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      - name: Build Docker image
        run: docker build -t tp1demo .
